<head>
<title>Sinatra Songs</title>
</head>
<body>
<h1>Sinatra Songs</h1>
<% @songs.each do |song| %>
    <h3> <%= song[:title] %></h3>
    <p> <a href="<%=song[:url]%>"> Video </a></p>
<% end %>
</body>